h3 {
    background-color: gray;
    color: black;
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    padding-bottom: 500px;
}

.paragraph {
    background-color: #000;
    opacity: 0.5;
    color: aqua;
    padding: 5px;

}

#exclusive-title {
    background-color: purple;
    color: black;
    padding: 10px;
}

.bg-image {
    background-image: url("img/zed.jpg");
    background-position: center;
    background-size: cover;
    padding: 10px;
    color: white;
    height: 400px;
    width: 400px;
}
.width-height {
    width: 300px;
    height: 100px;
    background-color: #000;
    padding: 20px;
    color: white;
}

.inline-block {
    width: 400px;
    height: 200px;
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    border-radius: 10%;
}